#page
{
	margin-top: 0px;
	margin-bottom: 5px;
	background: white;
	border: 0px solid #C9E0ED;
}

#header
{
	width: 940px;
	background-color: #D7D7D7;
	height: 80px;
	margin: 40px auto -10px auto;
	padding: 0;
	/*border-top: 3px solid #C9E0ED;*/
}

#content
{
	margin-top: 42px;
	position: relative;
    padding: 20px;
    background-color: #D7D7D7;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}
#logo{
	width:28px;
	height:30px;
	font-size:1.2em;
	position:relative;
	overflow:hidden;
	display:inline;
}
#logo span{
	background:url(../images/logoitjobs.png) no-repeat left center;
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}
.social-icon { 
	margin: 3px;
	width: 32px;
	height: 32px;
	float: left;
}
.facebook {background:url(../images/facebook.png) no-repeat left center;}
.google {background:url(../images/google.png) no-repeat left center;}
.yahoo {background:url(../images/yahoo.png) no-repeat left center;}
.lostpass {
	float: left;
	width: 110px;
	padding: 10px 0 5px 10px;
}
.btnSign {
	float: left;
	width: 100px;
}
.otheracc {
	float: left;
	width: 200px;
}
.imgFGY {
	float: left; 
}
.breadcrumbs {
	margin-top: 55px;
}
/* fix outline */

* {outline: none !important;}
.nav li {
	 -webkit-transition: -webkit-transform 0.2s ease-in-out; 
	 -moz-transition: -moz-transform 0.2s ease-in-out; 
}